fastapi
uvicorn[standard]
pydantic
numpy
langchain
langchain-openai
langchain-mongodb
pymongo
pandas
openpyxl
python-docx
PyPDF2
voyageai 
langchain-community
python-multipart
langchain-voyageai
langchain-groq
pydantic[email]
supabase
huggingface_hub
pillow
langchain-google-genai
google-generativeai 
python-dotenv
google-genai